@media (min-width: 992px) and (max-width: 1300px) {
    .header .header-bottom .menu ul li a {
        padding-left: 17px;
    }
    .our_activity .single-Promo {
        margin: 100px 30px 0;
        padding: 40px 30px;
    }
    .our_activity .single-Promo p {
        text-align: justify;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .header .header-bottom .main-logo {
        margin: 10px 0;
        text-align: center;
    }
    .header .header-bottom .menu {
        margin: 3px 0;
    }
    .header .header-bottom .menu ul li a {
        margin-right: 20px;
        padding-left: 20px;
    }    
    br {
        display: none;
    }
}

@media only screen and (max-width: 767px) {
    .header .header-bottom .menu ul li a {
        margin-right: 20px;
        padding-left: 20px;
    }
    .header .header-bottom .menu {
        margin: 0px 0;
    }    
    .main-logo {
        text-align: center;
    }
    .carosal-area .text>h3 {
        margin-top: 40px;
    }
    .carosal-area .owl-dots {
        margin-bottom: 30px;
        margin-top: 10px;
    }
    .carosal-area .text>p {
        text-align: justify;
    }
    br {
        display: none
    }
    header.header .nav.navbar-nav>li {
        display: inline-block;
        position: relative;
    }
    .main-logo {
        margin: 0;
    }
    .owl-theme .owl-nav {
        display: none;
    }
}
